<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}

        <form action="https://formspree.io/joshfester@gmail.com" method="POST">

          <div class="form-group">
            <input class="form-control" type="text" name="_replyto" placeholder="Your email" />
          </div>

          <div class="form-group">
            <textarea rows="4" class="form-control" name="_message" placeholder="Your message"></textarea>
          </div>
          
          <input type="hidden" name="_subject" value="New submission!" />

          <input type="text" name="_gotcha" style="display:none" />

          <div class="form-group">
            <div class="form-control no-border text-right">
              <input class="btn" type="submit" value="Send">
            </div>
          </div>

        </form>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>