<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}

        <form action="https://formspree.io/joshfester@gmail.com" method="POST">

          <input type="text" name="_replyto" placeholder="Your email" />
          
          <input type="hidden" name="_subject" value="New submission!" />

        </form>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>