<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="home">
  
      <div class="cover-photo">
        <img src="{{site.url}}/assets/images/me-transparent.png" />
      </div>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">

          {{ content }}

          <div class="quote-wrap">
            <h2>
              “Josh delivered the unicorn of consulting!”
            </h2>
            <div class="quote">
              <img src="{{site.url}}/assets/images/tn-paul.png" />
              <em>
                “Josh has been a godsend for us. Not only did he interpret our needs perfectly, but he was proactive about making additional technical suggestions that enhanced our new product. Josh delivered the unicorn of consulting! No startup founder should dare launch without his guidance.”
              </em>
            </div>
            <br>
            — Paul Santolla, founder of TriviaNote
          </div>

        </div>
      </main>

    </div>

    {%- include footer.html -%}

  </body>

</html>